<div class="row">
    <div class="col-md-1">
        <div class="row">
            <div class="side-information">
                NCOI
            </div>
        </div>
    </div>
    <div class="col-md-11">
        <div class="row">
            <div class="block col-md-3">
                <div class="block-title">
                    SPRINT
                </div>
                <div class="block-subinfo">
                    <span>Last run: 07-12-2015 23:33</span>
                    <div class="status-total">
                        <div class="container">
                            <div class="row">
                                <div class="status status-succes col-md-4">
                                    80 passed
                                </div>
                                <div class="status status-failed col-md-4">
                                    3 failed
                                </div>
                                <div class="status status-cancelled col-md-4">
                                    0 not run
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-inner">

                </div>
            </div>
            <div class="block col-md-3">
                <div class="block-title">
                    TEST
                </div>
                <div class="block-subinfo">
                    <span>Last run: 08-12-2015 00:30</span>
                    <div class="status-total">
                        <div class="container">
                            <div class="row">
                                <div class="status status-succes col-md-4">
                                    80 passed
                                </div>
                                <div class="status status-failed col-md-4">
                                    3 failed
                                </div>
                                <div class="status status-cancelled col-md-4">
                                    0 not run
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-inner">

                </div>
            </div>
            <div class="block col-md-3">
                <div class="block-title">
                    ACC
                </div>
                <div class="block-subinfo">
                    <span>Last run: 08-12-2015 22:30</span>
                    <div class="status-total">
                        <div class="container">
                            <div class="row">
                                <div class="status status-succes col-md-4">
                                    80 passed
                                </div>
                                <div class="status status-succes col-md-4">
                                    0 failed
                                </div>
                                <div class="status status-cancelled col-md-4">
                                    0 not run
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-inner">

                </div>
            </div>
            <div class="block col-md-3">
                <div class="block-title">
                    PROD
                </div>
                <div class="block-subinfo">
                    <span>Last run: 08-12-2015 23:54</span>
                    <div class="status-total">
                        <div class="container">
                            <div class="row">
                                <div class="status status-succes col-md-4">
                                    80 passed
                                </div>
                                <div class="status status-succes col-md-4">
                                    0 failed
                                </div>
                                <div class="status status-cancelled col-md-4">
                                    0 not run
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-inner">

                </div>
            </div>
        </div>
    </div>
</div>
