@media screen and (min-width: 992px) {

    .navbar-header {
        padding-left: 8.333333333333332%;
    }

    .block .block-inner {
        min-height: 600px;
        padding-top: 0;
        margin-bottom: 0;
        padding: 1px 7px 0 7px;
    }

        .block .block-inner .set {
            position: relative;
            margin-top: 2px;
        }

        .block .block-inner .info {
            position: absolute;
            left: -100px;
            width: 80px;
            text-align: right;
            color: white;
            top: 0;
        }

            .block .block-inner .parts .part {
                width: 18px;
                height: 18px;
            }

        .block .block-inner:not(.main-block) .info {
            display: none;
        }
}
