body, html {
    font-family: Arial;
    background-color: #292929;
    color: white;
    background: url('../images/bg1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 30px;
}

.container {
    max-width: 1920px;
}

/*************** HEADER ***************/

.logo {
    float: left;
    margin-top: 9px;
    padding-left: 15px;
    display: none;
}

.navbar {
    min-height: 40px;
}

.navbar-inverse {
    background-color: #000;
    background: -webkit-linear-gradient(#2e2e2e, #212121);
    background: -o-linear-gradient(#2e2e2e, #212121);
    background: -moz-linear-gradient(#2e2e2e, #212121);
    background: linear-gradient(#2e2e2e, #212121);
    border-bottom: none;
}

.navbar .navbar-header a.navbar-brand {
    float: left;
    font-size: 14px;
    color: #9E9E9E;
    padding-left: 15px;
}

/************ MAIN CONTENT ************/

.body-content {
    padding: 0 20px 20px 20px;
}

.side-information {
    margin-top: 125px;
    text-align: right;
    color: #9E9E9E;
}

    .side-information span:nth-child(2) {
        display: block;
        margin-top: 62px;
    }

.block {
    padding-right: 10px;
    padding-left: 10px;
}

    .block .block-title {
        text-align: center;
        width: 100%;
        font-size: 18px;
        padding-bottom: 4px;
    }

    .block .block-subinfo {
        border-top: 1px solid #585858;
        border-bottom: 1px solid #585858;
        padding: 4px 0 8px 0;
        text-align: center;
    }

        .block .block-subinfo span {
        font-size: 12px;
    }
    
        .block .block-subinfo .status-total {
            margin-top: 6px;
        }

        .block .block-subinfo .status {
            color: #292929;
            text-align: center;
            padding: 6px;
            font-size: 12px;
            border-radius: 4px;
        }

        .block .block-subinfo .status:first-child {
            /*border-right: 2px solid #292929;*/
        }

        .block .block-subinfo .status:last-child {
            /*border-left: 2px solid #292929;*/
        }

        .block .block-subinfo .status.status-succes {
            background-color: #aaff9f;
        }

        .block .block-subinfo .status.status-failed {
            background-color: #f96969;
        }

        .block .block-subinfo .status.status-cancelled {
            background-color: #949494;
        }

    .block .block-inner {
        padding: 8px;
        margin-top: 10px;
        margin-bottom: 30px;
        position: relative;
    }

    .block .block-inner .background-inner {
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.2;
        border-radius: 4px;
    }

        .block .block-inner .parts {
            display: inline-block;
            width: 100%;
        }

            .block .block-inner .parts:first-child {
                margin-top: 0;
            }

            .block .block-inner .parts .part {
                width: 10%;
                height: 20px;
                background-color: #aaff9f;
                float: left;
                margin: 1px 2px 1px 0;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('../images/icon-check.png');
                border-radius: 2px;
            }

                .block .block-inner .parts .part.failed {
                    background-color: #ffa256;
                    background-image: url('../images/icon-cross.png');
                }

                .block .block-inner .parts .part.failed.first-failure {
                    background-color: #f96969;
                }
               .block .block-inner .parts .part.failed:hover {
                        background-color: #f96969;
                    }

                .block .block-inner .parts .part.cancelled {
                    background-color: #949494;
                    background-image: none;
                    cursor: default;
                }

                    .block .block-inner .parts .part.cancelled:hover {
                        background-color: #ABABAB;
                    }

/* JQUERY UI Tooltips */

.ui-tooltip, .arrow:after {
    background: white !important;
    border: 2px solid white;
}

.ui-tooltip {
    padding: 12px 24px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
    display: block !important;
    background-color: white !important;
}

.tooltip-inner {
    background-color: white;
    color: black;
    padding: 6px 8px;
    word-wrap: break-word;
}

.tooltip.in {
    opacity: 1;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
    background-color: white;
}

.tooltip.top .tooltip-arrow {
    border-top-color: white;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.arrow.top:after {
    bottom: -20px;
    top: auto;
}

.part + .tooltip .tooltip-inner {
    border: 1px solid white;
    background-color: #aaff9f;
}

.part.failed + .tooltip .tooltip-inner {
    border: 1px solid white;
    background-color: #f96969;
}

.part.cancelled + .tooltip .tooltip-inner {
    border: 1px solid white;
    background-color: #949494;
}
